.button-set {
    width: 20%;
}

.addModule {
    background-color: red;
    color: white;
}

.studentView {
    height: 30px;
    width: 10%;
    top: 10%;
    left: 90%;
}

.add-module {
}

.update-module {
    margin-left: 10px;
}

.mod-button-style {
    z-index: 10;
    background-color: none;
    border: none;
}

.sub-mod-button-style {
    z-index: 10;
    border: none;
}